#d1{
    background-color: brown;
}
.d2{
    background-color: skyblue;
}
h3{
    background-color: aquamarine;
}
h4,div,h2{
    background-color: bisque;
}
*{
    background-color: rgb(70, 121, 121);
}