div>h1:first-child{
    background: linear-gradient(red,white,black);
}
div>h2:last-child{
    background: linear-gradient(green,aqua,grey);
}
div>h3:first-of-type{
    background: linear-gradient(crimson,wheat,skyblue);
}
div>h1:last-of-type{
    background-color: violet;
}
div>h1:nth-child(3){
    background-color: brown;
}
div>h2:nth-child(even){
    background-color: rgb(49, 170, 174);
}
div>h1:nth-of-type(2){
    background-color: blue;
}
div>h2:nth-of-type(2){
    background-color: darkorange;
}